<%if @frog.errors.any?%>
<ul id="errors">
  <%@frog.errors.full_messages.each do |message|%>
    <li><%=message%></li>
  <%end%>
</ul>
<%end%>
<%= form_for(@frog) do |f|%>
  <%=f.label :name %>
  <%=f.text_field :name %><br>
  <%=f.label :color %>
  <%=f.text_field :color %><br>
  <%=f.select :pond_id, options_for_select(@ponds.map{|pond| [pond.name, pond.id]})%>
  <%=f.submit %>
<% end %>